body {
    background-color: gray;
    font-weight: bold;
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    color:orangered;
}
.text-center {
    text-align: center;
}